extends layout

block content

    section.search-bar
        input#input(type='text', placeholder='Search')
        button.add-button.align-middle(data-modal-target='authentication-modal', data-modal-toggle='authentication-modal', class='hover:bg-yellow-300 focus:outline-none py-2.5 dark:bg-yellow-300 dark:hover:bg-yellow-300', type='button')
            |ADD
        // Main modal
        #authentication-modal.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.max-h-full(tabindex='-1', aria-hidden='true', class='md:inset-0 h-[calc(100%-1rem)]')
            .relative.w-full.max-w-md.max-h-full
                // Modal content
                .relative.bg-white.rounded-lg.shadow(class='dark:bg-gray-700')
                    button.absolute.top-3.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button', class='right-2.5 hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-800 dark:hover:text-white', data-modal-hide='authentication-modal')
                        svg.w-5.h-5(aria-hidden='true', fill='currentColor', viewbox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z', clip-rule='evenodd')
                        span.sr-only Close modal
                    .px-6.py-6(class='lg:px-8')
                        h3.mb-4.text-xl.font-medium.text-gray-900(class='dark:text-white') Create new worker's account
                         form.flex.grid.grid-cols-2.p-3.gap-6(action='/workers', method='POST')
                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='username', class='dark:text-white') Username
                                input#username.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full.ml-1(type='text', name='username', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', placeholder='Francisco Corona', required='')
                           
                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='email', class='dark:text-white') email
                                input#email.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='email', name='email', placeholder='Name@company.com', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='') 

                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='password', class='dark:text-white') Your password
                                input#password.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='password', name='password', placeholder='••••••••', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='')

                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='bloodtype', class='dark:text-white') Blood Type
                                input#bloodtype.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text', name='bloodtype', placeholder='A+', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='')
                                
                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='age', class='dark:text-white') Age
                                input#age.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='number', name='age', placeholder='26', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='')
                            

                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='weight', class='dark:text-white') Weight
                                input#weight.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text', name='weight', placeholder='74Kg', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='')

                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='height', class='dark:text-white') Height
                                input#height.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text', name='height', placeholder='1.84m', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='')

                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='status', class='dark:text-white') Status
                                input#status.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='boolean', name='status', placeholder='', class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white', required='')

                            .flex.justify-between.col-span-2
                                .flex.items-start.w-full
                                    button.w-full.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit', class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Create new account
                            
    
    section.card-container(class='sm:flex sm:w-auto sm:order-1')
        each worker in workers
            section.card
                section.card-image
                    img(src='.\public\images\descarga1.jpg', alt='Worker Image')
                
                section.card-inf
                    h2 Worker's name: #{worker.username}
                    p Blood Type: #{worker.bloodtype}
                    p Age: #{worker.age}
                    p Weight: #{worker.weight}
                    p Height: #{worker.height}
                    p Status: #{worker.status}

        